apiVersion: v1
kind: Service
metadata:
  name: nodejs-service
  namespace: nodejs-app
  labels:
    app: nodejs-app
spec:
  type: NodePort
  selector:
    app: nodejs-app
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 32000
      protocol: TCP
